/* CSS for Code Quiz*/
/* Universal style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

.headflex {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  font-size: 36px;
}

.headflex div {
  justify-content: flex-end;
}

.presentQuestions {
  display: none;
}

.quizComplete {
  display: none;
}

.boldQuestion {
  text-decoration: solid;
  font-size: 36px;
}
