/* CSS for Code Quiz*/
/* Universal style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headflex {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  font-size: 48px;
}

.headflex div {
  justify-content: flex-end;
}
